body{
background:#333;
}
.heade{
height: 80px;
margin-left:20px;
margin-right:40px;

display:block;
}
.heade_link{
background:black;
height:30px;
width:1051px;
text-align:center;
}
.menu_items{
width:140px;
}
a{
text-decoration:none;
text-align:center;
color:white;
}
.bodye{
height: 100%;
margin-left:20px;
margin-right:20px;

background:white;
text-align:center;
}

.bodyetext{
background:grey;
width:965px;
display:block;
}
.bottomimage{
display:inline-block;
height:315px;
width:215px;
padding:10px;

}
.footer{
margin-left:12%;
}
.wrapper{
width:1090px;
margin:0 auto;
}
